<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarioQueiros.CodeExercise.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MarioQueiros.CodeExercise.Properties.Settings>
            <setting name="ReportData" serializeAs="String">
                <value>
                    [
                    {
                    "id" : 1,
                    "periodEnd": "2015/08/01",
                    "periodStart": "2015/08/01",
                    "periodTotal": 59,
                    "priorPeriodEnd": "2015/07/01",
                    "priorPeriodStart": "2015/06/01",
                    "priorPeriodTotal": 74,
                    "reasonForPeriodDecrease": "Loss-leading promo"
                    },
                    {
                    "id" : 2,
                    "periodEnd": "2014/07/01",
                    "periodStart": "2014/06/01",
                    "periodTotal": 45,
                    "priorPeriodEnd": "2014/06/01",
                    "priorPeriodStart": "2014/05/01",
                    "priorPeriodTotal": 74
                    },
                    {
                    "id" : 3,
                    "periodEnd": "2015/06/01",
                    "periodStart": "2015/05/01",
                    "periodTotal": 37,
                    "priorPeriodEnd": "2015/05/01",
                    "priorPeriodStart": "2015/05/01",
                    "priorPeriodTotal": 39
                    },
                    {
                    "id" : 4,
                    "periodEnd": "2013/05/01",
                    "periodStart": "2013/04/01",
                    "periodTotal": 87,
                    "priorPeriodEnd": "2013/04/01",
                    "priorPeriodStart": "2013/03/01",
                    "priorPeriodTotal": 49
                    },
                    {
                    "id" : 5,
                    "periodEnd": "2012/03/01",
                    "periodStart": "2012/02/01",
                    "periodTotal": 21,
                    "priorPeriodEnd": "2012/02/01",
                    "priorPeriodStart": "2012/01/01",
                    "priorPeriodTotal": 34,
                    "reasonForPeriodDecrease": "Unexpected supplier costs"
                    },
                    {
                    "id" : 6,
                    "periodEnd": "2012/10/01",
                    "periodStart": "2012/09/01",
                    "periodTotal": 73,
                    "priorPeriodEnd": "2012/09/01",
                    "priorPeriodStart": "2012/08/01",
                    "priorPeriodTotal": 22
                    },
                    {
                    "id" : 7,
                    "periodEnd": "2012/04/01",
                    "periodStart": "2012/03/01",
                    "periodTotal": 73,
                    "priorPeriodEnd": "2012/03/01",
                    "priorPeriodStart": "2012/02/01",
                    "priorPeriodTotal": -22,
                    "reasonForPeriodDecrease": "Seasonal dip"
                    }
                    ]
                </value>
            </setting>
        </MarioQueiros.CodeExercise.Properties.Settings>
    </applicationSettings>
</configuration>